/************************公共样式************************/
*{
    box-sizing: border-box;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
html,body{
    height: 100%;
    background-color: #fff;
    color: #333;
}
#__nuxt{
    height:100%;
}
#sign-template{
    height: 100%;
    background-color: #f1f1f1;
}
#default-template{
    height: 100%;
    padding-top: 56px;
    background-color: #fff;
}
a,a:hover,a:focus {
    text-decoration: none!important;
    color:inherit!important;
}
input:focus {
    outline:none;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
ul,ol,dl {
    list-style:none;
    margin:0!important;
    padding:0;
}
@media (min-width: 992px) {
    .my-container{
        width: 960px;
        margin: 0 auto;
    }
}
@media (max-width: 1080px) {
    .my-container{
        width: 750px;
        margin: 0 auto;
    }
}
/*文章页面*/
@media (max-width: 750px) {
    body{
        overflow: hidden;
    }
}
@media (max-width: 785px) {
    .note .post{
        margin: 0 74px;
    }
}
/*******************************首页布局*****************************/
.index {
    padding-top: 30px;
}
.index .main {
    padding-right: 0;
}
.index .main .banner {
    margin-bottom: 35px;
}
.index .main .recommend-collection{
    margin-bottom: 20px;
}
.index .main .recommend-collection a{
    display: inline-block;
    margin: 0 18px 18px 0;
    border-radius: 6px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    min-height: 32px;
    overflow: hidden;
}
.index .main .recommend-collection a img{
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}
.index .main .recommend-collection a span{
    display: inline-block;
    line-height: 32px;
    font-size: 14px;
    padding: 0 10px;
}
.index .main .recommend-collection .more-hot-collection {
    display: inline-block;
    font-size: 14px;
    background: none;
    border: none;
    line-height: 34px;
    color: #787878;
}
.index .main .split-line{
    margin: -10px 0 15px;
    border-bottom: 1px solid #f0f0f0;
}
.index .main .banner img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 6px;
}
.note-list{
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.note-list li{
    position: relative;
    width: 100%;
    padding: 0 0 17px 0;
    margin: 0 0 17px 0;
    border-bottom: 1px solid #cccccc;
    word-wrap: break-word;/*换行*/
}
.note-list li.have-img>.wrap-img {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -60px;
    width: 150px;
    height: 120px;
}
.note-list li.have-img>.wrap-img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}
.note-list li.have-img .content{
    padding-right: 160px;
}
.note-list .author{
    margin-bottom: 14px;
    font-size: 13px;
}
.note-list .author .avatar,.note-list .author .info{
    display: inline-block;
    vertical-align: middle;
}
.avatar{
    width: 32px;
    height: 32px;
    display: block;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.note-list .author .avatar{
    margin: 0 5px 0 0;
}
.note-list .author .info .time{
    color: #969696;
    padding-left: 5px;
}
.note-list .title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}
.note-list .title:visited{
    color: #969696;
}
.note-list .abstract{
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 13px 0;
}
.note-list .meta{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.note-list .meta .collection-tag{
    display: inline-block;
    vertical-align: middle;
    color: #ea6f5a!important;
    border: 1px solid #ea6f5a;
    padding: 3px 6px;
    border-radius: 4px;
    margin-right: 10px;
    transition: all ease-in .5s;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note-list .meta .tag{
    margin-right: 10px;
    color: #b4b4b4!important;
}
.note-list .meta .collection-tag:hover{
    background-color: rgb(254,247,246);
    border-color: rgb(239,97,73);
}
.note-list .meta .tag:hover{
    color: rgb(120,120,120)!important;
}
.note-list .meta span{
    color: #b4b4b4;
}
@media (max-width: 1080px) {
    .note-list li.have-img .wrap-img{
        margin-top: -58px;
        bottom: 40px;
        width: 125px;
        height: 100px;
    }
    .note-list li.have-img>div{
        padding-right: 135px;
    }
    .aside .download div{
        padding-top: 10px!important;
    }
}
.index .main .load-more {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white!important;
    background-color: #a5a5a5;
    border-radius: 20px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    font-size: 15px;
}

/*右边*/
.index .aside{
    padding: 0 0 0 4.1667%;
}
.index .aside .board img {
    margin-bottom: 5px;
    width: 100%;
}
.recommend-author {
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
}
.recommend-author .title {
    text-align: left;
    color: #969696;
}
.recommend-author .title .page-change{
    float: right;
    color: #969696;
}
.recommend-author .title .page-change i{
    transition: ease .2s;
}
.recommend-author .list{
    margin-bottom: 20px;
    text-align: left;
}
.recommend-author .list li {
    margin-top: 15px;
}
.recommend-author .list li .avatar {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.recommend-author .list li .follow{
    float: right;
    font-size: 13px;
    margin-top: 5px;
    color: #42c02e!important;
}
.recommend-author .list li .name {
    padding-top: 5px;margin-right: 60px;
    font-size: 14px;
    display: block;
}
.recommend-author .list li p{
    color: #969696;
    font-size: 12px;
}
.recommend-author .find-more{
    display: block;
    width: 100%;
    padding: 7px 7px 7px 12px;
    color: #787878!important;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 50px;
}
.recommend-author .find-more i{
    font-size: 18px;
    margin-left: 3px;
}
.aside .download {
    width: 100%;
    /*min-height: 100px;*/
    border: 1px solid #ccc;
    border-radius: 6px;
    /*background-color: #fff;*/
    padding: 7px 10px;
    margin-bottom: 30px;
    display: flex;
}
.aside .download img{
    display: inline-block;
    width: 40%;
    height: 40%;
}
.aside .download div{
    padding: 30px 0 0 10px;
    font-size: 13px;
    color: #969696;
}
.footer a{
    display: inline-block;
    color: #969696!important;
    font-size: 13px;
}
.footer a:hover{
    color: #333!important;
}
.footer em{
    color: #969696!important;
    font-size: 13px;
}
/**********************文章页面布局************************/
.note {
    position: relative;
    padding-top: 10px;
}
.note .post {
    width: 620px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
.note .post .article .title {
    font-size: 34px;
    font-weight: 700;
    margin: 20px 0 0;
    word-break: break-all;
}
.note .post .article .author {
    margin: 30px 0 40px 0;
}
.note .post .article .author .avatar {
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.note .post .article .author .info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.note .post .article .author .info .name{
    font-size: 16px;
    margin-right: 5px;
}
.note .post .article .follow {
    color: #fff!important;
    background-color: #42c02e;
    font-size: 12px;
    padding: 1px 9px 1px 6px;
    border-radius: 20px;
}
.note .post .article .author .info .btn-sm span{
    margin-left: 5px;
}
.note .post .article .following {
    background:#fff;
    color:#969696!important;
    border:1px solid #ccc;
    font-size:12px;
    border-radius: 20px;
    padding:1px 8px 1px 6px;
}
/*.note .post .article .author .info .border{*/
    /*font-size: 12px;*/
    /*padding: 1px 9px 1px 6px;*/
    /*border-radius: 20px;*/
/*}*/
.note .post .article .author .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.note .post .article .author .meta span{
    margin-right: 5px;
}
.note .post .article .show-content {
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
    color: #2f2f2f;
    line-height: 1.7;
}
.note .post .article .show-content p {
    margin: 0 0 20px;
}
.note .post .article .show-foot {
    margin-bottom: 30px;
}
.note .post .article .show-foot .notebook {
    font-size: 12px;
    color: #c8c8c8!important;
}
.note .post .article .show-foot .notebook i{
    margin-right: 5px;
}
.note .post .article .show-foot .copyright {
    float: right;
    font-size: 12px;
    color: #c8c8c8;
}
/***************************文章下面******************************/
.note .post .article .follow-detail {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
.note .post .article .follow-detail .avatar {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 10px;
}
.note .post .article .follow-detail .btn {
    float: right;
    width: 100px;
    padding: 10px 0;
    font-size: 16px;
    box-shadow: none;
}
.note .post .article .follow-detail .following {
    text-decoration: none;
}
.note .post .article .follow-detail .title{
    font-size: 17px;
    line-height: 1.8;
    margin-right: 5px;
}
.note .post .article .follow-detail .info>i{
    color: #3194d0;
    font-size: 15px;
}
.note .post .article .follow-detail .info>p{
    color: #969696;
    margin-bottom: 0;
    font-size: 12px;
}
.note .post .article .follow-detail .signature {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.note .post .article .meta-bottom {
    margin-top: 40px;
    margin-bottom: 80px;
}
.note .post .article .meta-bottom .like {
    display: inline-block;
}
.note .post .article .meta-bottom .share-group{
    float: right;
}
.note .post .article .meta-bottom .like-group {
    border: 1px solid #ea6f5a;
    padding: 13px 0 15px;
    border-radius: 40px;
}
.note .post .article .meta-bottom .like-group:hover {
    background-color: rgb(254,247,245);
}
.note .post .article .meta-bottom .like .active {
    background-color: #ea6f5a;
}
.note .post .article .meta-bottom .like .color {
    color: #fff!important;
}
.note .post .article .meta-bottom .like .colors {
    color: #fff!important;
    border-left: 1px solid #ffffff!important;
}
.note .post .article .meta-bottom .like-group .btn-like{
    display: inline-block;
    font-size: 19px;
    color: #ea6f5a;
}
.note .post .article .meta-bottom .like-group .btn-like a{
    padding: 18px 15px 18px 30px;
}
.note .post .article .meta-bottom .like-group .modal-wrap{
    display: inline-block;
    font-size: 18px;
    border-left: 1px solid #ea6f5a;
    color: #ea6f5a;
}
.note .post .article .meta-bottom .like-group .modal-wrap a{
    padding: 18px 30px 18px 17px;
}
.note .post .article .meta-bottom .share-group {
    position: relative;
}
.note .post .article .meta-bottom .share-group>a{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 5px;
}
.note .post .article .meta-bottom .share-group>a>i{
    font-size: 25px;
}
.note .post .article .meta-bottom .share-group a:hover{
    background-color: rgb(248,248,248);
}
.note .post .article .meta-bottom .share-group .more-share{
    width: auto;
    line-height: 42px;
    font-size: 14px;
    padding: 4px 18px;
    border-radius: 40px;
    color: #969696!important;
}
.weibo{
    color: red;
}
.weixin {
    color: green;
}
.qq{
    color: blue;
}
.note .post .article .meta-bottom .share-group .fenxiang {
    position: absolute;
    top: -155px;
    right: -25px;
    background-color: #fff;
    box-shadow: -1px 2px 2px #ccc;
    border: 1px solid #ccc;
    padding: 5px 0;
    color: #969696;
    font-size: 14px;
    border-radius: 6px;
}
.note .post .article .meta-bottom .share-group .fenxiang:before{
    content: '';
    position: absolute;
    top: 135px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #ddd;
}
.note .post .article .meta-bottom .share-group .fenxiang .list-fenxiang a.fenxiang-list{
    display: inline-block;
    padding: 2px 15px!important;
}
.note .post .article .meta-bottom .share-group .fenxiang .list-fenxiang a.fenxiang-list i{
    margin-right: 10px;
}
.fa-qq{
    color: blue;
}
.fa-twitter{
    color: rgb(0,170,236);
}
.fa-facebook{
    color: rgb(68,96,160);
}
.fa-google{
    color: rgb(250,63,45);
}
.fa-opencart{
    color: rgb(48,135,29);
}































